*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

/.idea
/.gradle
/sample/build
/sample/sample.iml
/wraprecyclerview/build
/wraprecyclerview/local.properties